.product img {
    /* object-fit: cover; */
    height: 100px;
}
.left{
    float: left;
      margin-right: 10px;
}
.spacious{
    margin-right: 10px; 
}
.input-search{
    position: relative;
}
.input-search svg{
    height: 25px;
    width: 25px;
    position: absolute;
    left: 5px;
    top: 5px;
}
.dd{
    width: 60px;
}